button{
    border-radius: 0!important;
}

#notes-container  {
    padding: 20px;
}

#notes-container>div:nth-child(odd) .card{
    background-color:#f8cdcd;
    transform: rotate(2deg)
}
#notes-container>div:nth-child(even) .card{
    background-color: #cbfafa;
    transform: rotate(-2deg)
}

@media (min-width: 500px){
    #search{
        width: 100% !important;
        margin-top: 10px;
    }
}